@import '../../../style/variable.scss';
@import '../../../style/mixins.scss';

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info-box {
        width: 130px;
        background-color: #292929;
        border: 1px solid $gray;
        border-radius: 0.75rem;
        padding: 1.2rem 0.8rem;
        text-align: center;
        color: $white;
        cursor: pointer;
        @include transition;

        .info-icon {
            @include typography(22px, 700px, 24px);
            margin-bottom: 0.8rem;
            color: $yellow;
        }

        .info-title {
            @include typography(18px, 700px, 24px);
            margin-bottom: 0.4rem;
        }

        .info-subtitle {
            @include typography(12px, 400px, 16px);
        }

        &:hover {
            @include small-screen {
                z-index: 1;
                transform: scale(1.2);
                box-shadow: 0 0 33px -8px rgba(0, 0, 0, 0.75);
                .meta-content {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(-20px);
                }
            }
        }
    }
}
