@import '../../style/variable.scss';
@import '../../style/mixins.scss';

.skills-content-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0 1rem 0;

    @include small-screen {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        margin: 4rem 0 2rem 0;
    }

    .skills-content {
        width: 90%;
        background-color: $black;
        border-radius: 1.5rem;
        border: 1px solid $gray;
        padding: 1rem;
        color: $white;
        justify-self: center;
        margin-bottom: 1rem;
        @include transition;

        @include small-screen {
            width: 80%;
            justify-self: start;
            padding: 2rem;
            margin-bottom: 0;
        }

        .skills-title {
            @include typography(18px, 700, 22px);
            margin-bottom: 0.8rem;
            text-align: center;

            @include small-screen {
                @include typography(22px, 700, 24px);
                margin-bottom: 1rem;
            }
        }

        .skills-box {
            .skills-group {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: start;
                column-gap: 0.5rem;

                @include small-screen {
                    column-gap: 1rem;
                }

                .skills-data {
                    display: flex;
                    column-gap: 10px;
                    padding: 0.5rem;

                    @include small-screen {
                        padding: 1rem;
                    }

                    .skills-icon {
                        padding-top: 3px;
                        svg {
                            color: $yellow;
                        }
                    }

                    .skills-name {
                        @include typography(14px, 400, 16px);

                        @include small-screen {
                            @include typography(18px, 400, 24px);
                        }
                    }

                    .skills-level {
                        @include typography(10px, 400, 14px);

                        @include small-screen {
                            @include typography(14px, 400, 16px);
                        }
                    }
                }
            }
        }

        &:hover {
            @include small-screen {
                z-index: 1;
                transform: scale(1.1);
                box-shadow: 0 0 33px -8px rgba(0, 0, 0, 0.75);
                .meta-content {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(-20px);
                }
            }
        }
    }

    .skills-content:first-child {
        justify-self: center;

        @include small-screen {
            justify-self: end;
        }
    }
}
