@import '../../../style/variable.scss';
@import '../../../style/mixins.scss';

.intro-content {
    display: grid;
    grid-template-columns: 1fr;

    @include small-screen {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        column-gap: 6rem;
    }

    @include medium-screen {
        padding: 0 4rem;
    }

    @include large-screen {
        padding: 0 4rem;
    }

    .left-col {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;

        .title {
            display: flex;
            flex-direction: column;
            color: $white;
            text-align: left;

            @include small-screen {
            }

            .text {
                @include typography(28px, 700, 32px);

                @include small-screen {
                    @include typography(32px, 700, 36px);
                }

                @include medium-screen {
                    @include typography(34px, 700, 48px);
                }

                @include large-screen {
                    @include typography(40px, 700, 46px);
                }
            }
            .icon {
                margin-top: 5px;
                margin-left: 5px;

                img {
                    width: 25px;
                }

                @include small-screen {
                    margin-top: 10px;
                    margin-left: 10px;

                    img {
                        width: 30px;
                    }
                }

                @include medium-screen {
                    margin-top: 10px;
                    margin-left: 10px;

                    img {
                        width: 30px;
                    }
                }
            }
        }

        p {
            color: $white;
            margin: 12px 0;
            @include typography(14px, 400, 24px);
            text-align: left;

            @include small-screen {
                margin: 20px 0;
                @include typography(16px, 400, 24px);
                text-align: left;
            }
        }

        .links {
            display: flex;
            justify-content: start;
            align-items: center;

            .social-links {
                display: flex;
                justify-content: start;
                align-items: center;

                @include small-screen {
                    transform: scale(1);
                }

                .social-icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    margin-left: 10px;
                    cursor: pointer;
                    @include transition;

                    &:hover {
                        @include small-screen {
                            background-color: $yellow !important;
                            z-index: 1;
                            transform: scale(1.2);
                            box-shadow: 0 0 33px -8px rgba(0, 0, 0, 0.75);
                            .meta-content {
                                visibility: visible;
                                opacity: 1;
                                transform: translateY(-20px);
                            }
                        }
                    }

                    @include small-screen {
                        font-size: 16px;
                        margin-left: 12px;
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }

    .right-col {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 400px;
            display: none;
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            box-shadow: 0 0 0 9px rgba(255 255 255 / 30%);
            animation: profile-animation 3s ease-in-out infinite 1s;

            @include small-screen {
                display: block;
                width: 250px;
            }

            @include medium-screen {
                display: block;
                width: 300px;
            }

            @include large-screen {
                display: block;
                width: 400px;
            }
        }
    }
}

@keyframes profile-animation {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
