@import '../../../style/variable.scss';
@import '../../../style/mixins.scss';

.intro-content {
    display: flex;
    flex-grow: 1;
    padding-top: 75px;

    @include small-screen {
        padding-top: 0;
        align-items: flex-end;
    }

    .layout {
        display: flex;
        flex-direction: column;

        @include small-screen {
            flex-direction: row;
        }

        .left-col {
            width: 100%;

            @include small-screen {
                width: 45%;
            }

            @include medium-screen {
                padding-top: 55px;
            }

            @include large-screen {
                padding-top: 10px;
                width: 37%;
            }

            .title {
                display: flex;
                flex-direction: column;
                color: $white;
                text-align: center;

                @include small-screen {
                    text-align: left;
                }

                .small-text {
                    @include typography(24px, 400, 30px);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include small-screen {
                        justify-content: flex-start;
                        @include typography(32px, 400, 48px);
                    }

                    .icon {
                        margin-left: 10px;
                    }
                }

                .big-text {
                    @include typography(42px, 400, 52px);

                    @include small-screen {
                        @include typography(52px, 400, 48px);
                    }
                }
            }

            p {
                color: $white;
                margin: 15px 0;
                padding: 0 15px;
                @include typography(14px, 400, 24px);
                text-align: center;

                @include small-screen {
                    margin: 25px 0;
                    padding: 0;
                    @include typography(16px, 400, 24px);
                    text-align: left;
                }
            }

            .call-to-action {
                margin: 0 auto;
                @include small-screen {
                    margin: 0;
                }
            }
        }

        .right-col {
            width: 100%;
            display: flex;
            align-items: flex-end;
            position: relative;
            flex-grow: 1;

            @include small-screen {
                width: 55%;
                flex-grow: unset;
            }

            @include large-screen {
                width: 63%;
            }

            img {
                width: 100%;
                display: block;
                margin-bottom: 30px;

                @include small-screen {
                    margin-bottom: 40px;
                }

                @include large-screen {
                    margin-bottom: 50px;
                    position: relative;
                    right: -180px;
                }
            }
        }
    }
}
