@import '../../style/variable.scss';
@import '../../style/mixins.scss';

.experience-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-top: 2rem;

    @include small-screen {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        margin-top: 4rem;
        row-gap: 0;
    }

    .info-container {
        background-color: $black-lighter;
        padding: 2rem;
        border-radius: 1.5rem;
        position: relative;
    }
}
